# Node.js dependencies
node_modules/

# Logs
*.log

# Environment files
.env

# Build directories
dist/
build/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.tmp
*.swp
